aws_default_region = "us-east-1"
git_repo = "flask-sample_private"
git_owner = "fakeusername"
git_branch = "ci"
webhook_secret = "fakesecret"
codebuild_name = "test"
codepipeline_name = "test-codepipeline"
s3_bucket = "build-bucket-34523414"
s3_src_bucket = "src-bucket-3452412"
